body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background: rgb(185, 210, 224);
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(185, 210, 224, 1) 0%, rgba(187, 214, 228, 1) 0%, rgba(186, 211, 225, 1) 15%, rgba(186, 211, 225, 1) 38%, rgba(169, 199, 215, 1) 68%, rgba(169, 199, 215, 1) 68%, rgba(169, 199, 215, 1) 82%, rgba(158, 191, 208, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(185, 210, 224, 1) 0%, rgba(187, 214, 228, 1) 0%, rgba(186, 211, 225, 1) 15%, rgba(186, 211, 225, 1) 38%, rgba(169, 199, 215, 1) 68%, rgba(169, 199, 215, 1) 68%, rgba(169, 199, 215, 1) 82%, rgba(158, 191, 208, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(185, 210, 224, 1) 0%, rgba(187, 214, 228, 1) 0%, rgba(186, 211, 225, 1) 15%, rgba(186, 211, 225, 1) 38%, rgba(169, 199, 215, 1) 68%, rgba(169, 199, 215, 1) 68%, rgba(169, 199, 215, 1) 82%, rgba(158, 191, 208, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9d2e0', endColorstr='#9ebfd0', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */

}

.icone {
    font-size: 30px;
    position: fixed;
    z-index: 3;
    padding: 15px;
}

.icone:hover {
    color: dodgerblue;
}

#checkbox{
    display: none;
}

#checkbox:checked ~ .menu_lateral{
    transform: translate(250px);
    -webkit-transform: translate(250px);
}

#checkbox:checked ~ .icone {
    color: #ccc;
}


.container_irc {
    width: 100%;
    height: 800px;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: grid;
}

.container_telegram {
    width: 100%;
    height: 800px;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
}

.container_sobre {
    width: 100%;
    height: 800px;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
}
.mural {
    width: 800px;
    height: 400px;
    background-color: aliceblue;
    align-self: center;
    overflow: auto;
}

.menu_lateral {
    z-index: 2;
    width: 200px;
    height: 100%;  
    position: fixed;
    background-color: aliceblue;
    padding-top: 50px;
    left: -250px;
    transition: linear all .25s;
    -webkit-transition: linear all .25s;
}

.menu_lateral nav a{
    font-family:Georgia, "Times New Roman", Times, serif; 
    color: #ccc; 
    font-style:italic; 
    font-size:1.6em; 
    margin:0 5px;
    letter-spacing:-0.05em;
    text-decoration: none;
    padding-left: 10px;
}

.menu_lateral nav a:hover{
    color: dodgerblue;
}

.menu_div {
    padding: 5px;
    padding-left: 30px;
    display: inline-block;
}

.campo_mensagem{
    width: 800px;
    background-color: aliceblue;
    align-self: center;
    padding: 10px;
}

hr{
      background-color: #ccc;
      height: 1px;
}

footer {
    position:absolute;
    bottom:0;
    width:100%;
    z-index: 1;
    margin: 0 auto;
    font-size: 0.75em;
    text-align: center;
    background-color: aliceblue;
}

footer p{
    padding-top: 5px;
}

.mensagem_title {
    font-family: "myriad-pro", sans-serif;
    font-style: normal;
    font-weight: 100;
    color: dimgrey;
    padding-top: 5px;
}

.mensagem_input {
    resize: none;
    max-width: 780px;
}

.btn {
    height: 33px;
    float: right;
    margin-left: 10px;
}

.botoes_wrapper {
    padding: 10px;
    float: right;
}



